<?xml version="1.0"?>
<launch>

  <!--  Pixhawk-->
  <include file="$(find mavros)/launch/px4.launch"/>

  <!--  Meere company TOF cam-->
  <include file="$(find cubeeye_scube)/launch/depth_camera.launch"/>

  <!--  FLIR Lepton Thermal camera in ROS-->
  <param name="/thermal_img_topic" value="/thermal/image_raw"/>
  <param name="/cam_id" value="/dev/video0"/>
  <node name="thermal_cam" pkg="traj_gen" type="thermal_16bit.py" output="screen"/>

</launch>
